<table>
  <thead>
    <tr>
      <th style="width:45px">Sl. No.</th>
      <th style="width:1030px">Title Name</th>
      <th style="width:45px">Image</th>
    </tr>
  </thead>

  <tbody>
    <% sl_no = 0 %>
    <% @data.values.first.each do |data| %>
      <tr>
        <td><%= sl_no += 1 %></td>
        <td><%= data["title"]%></td>
        <td><%= image_tag(data["url"], {:size => "300x300"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>