<h3>Image List with Title Name</h3>
<table>
  <thead>
    <tr>
      <th style="width:45px">Sl. No.</th>
      <th style="width:1030px">Title Name</th>
      <th style="width:45px">Image</th>
    </tr>
  </thead>

  <tbody>
    <% sl_no = 0 %>
    <% @data.values.first.each do |data| %>
      <tr>
        <td><%= sl_no += 1 %></td>
        <td><%= data["title"]%></td>
        <td class="img"><%= image_tag(data["url"], {:size => "300x300"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(function() {
    $(".img").draggable();
    $(".img").droppable({
    	drop: function( event, ui ) {
        $(this).remove();
      }
    });
  });
</script>